<div class="color-line">
</div>
<div id="logo" class="light-version">
        <span>
            Sirus Message Board
        </span>
</div>
<nav role="navigation">
        <minimaliza-menu></minimaliza-menu>
    <div class="small-logo">
        <span class="text-primary">Sirus Message Board</span>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            <li class="dropdown" dropdown>
                <a class="dropdown-toggle" href="#" dropdown-toggle>
                    <i class="pe-7s-speaker"></i>
                </a>
                <ul class="dropdown-menu hdropdown notification animated flipInX">
                    <li>
                        <a>
                            <span class="label label-success">NEW</span> It is a long established.
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="label label-warning">WAR</span> There are many variations.
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="label label-danger">ERR</span> Contrary to popular belief.
                        </a>
                    </li>
                    <li class="summary"><a href="#">See all notifications</a></li>
                </ul>
            </li>
            <li class="dropdown" dropdown>
                <a class="dropdown-toggle" href="#" dropdown-toggle>
                    <i class="pe-7s-keypad"></i>
                </a>
                <div class="dropdown-menu hdropdown bigmenu animated flipInX">


                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <a ui-sref="app_views.forum">
                                    <i class="pe pe-7s-comment text-info"></i>
                                    <h5>Forum</h5>
                                </a>
                            </td>
                            <td>
                                <a ui-sref="app_views.blog">
                                    <i class="pe pe-7s-mail text-warning"></i>
                                    <h5>Message Board</h5>
                                </a>
                            </td>
                            <td>
                                <a ui-sref="app_views.contacts">
                                    <i class="pe pe-7s-users text-success"></i>
                                    <h5>Contacts</h5>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>



                </div>
            </li>
            <li class="dropdown">
                <a ui-sref="common.login">
                    <i class="pe-7s-upload pe-rotate-90"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>




